<mtapp:setting
    id="related_json_url"
    label="<__trans phrase="JSON URL to relate">"
    hint="<__trans phrase="Enter the JSON URL to associate entries.">"
    show_hint="1">
    <input type="text" class="text full" name="related_json_url" id="related_json_url" value="<mt:var name="related_json_url" escape="html">">
</mtapp:setting>

<mtapp:setting
    id="related_show_json_url"
    label="<__trans phrase="JSON URL to output HTML">"
    hint="<__trans phrase="Enter the JSON URL to output HTML.">"
    show_hint="1">
    <input type="text" class="text full" name="related_show_json_url" id="related_show_json_url" value="<mt:var name="related_show_json_url" escape="html">">
</mtapp:setting>

<mtapp:setting
    id="similar_entries_show_js"
    label="<__trans phrase="JavaScript"> (<__trans phrase="Optional">)"
    hint="<__trans phrase="Enter JavaScript to output by the tag of MTSimilarEntriesShow.">"
    show_hint="1">
    <textarea class="text full high" name="similar_entries_show_js" id="similar_entries_show_js"><mt:var name="similar_entries_show_js" escape="html"></textarea>
</mtapp:setting>
